{% extends 'base.html' %} {% block content %}
<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">Django App</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa qui
      voluptatem, quaerat voluptatibus aut id ipsum in inventore illum aliquam
      enim. Ullam id harum perferendis hic amet, corporis, animi excepturi
      sapiente eaque rerum iste sunt reiciendis voluptas voluptatibus quam qui
      assumenda maxime, distinctio minima! Error, consectetur ipsam nemo quaerat
      labore eaque. Vitae libero iste consequuntur reprehenderit accusamus
      velit, quaerat quo voluptates repudiandae sequi iure odio optio eum esse
      tenetur ipsam quibusdam saepe. Atque error aliquid repellendus! Nisi,
      perferendis. At, sunt. Quod, cupiditate! Ut, consequatur. Aperiam quidem
      architecto quas sunt adipisci! Iusto commodi doloribus, recusandae tempore
      doloremque facilis ducimus. Facere, consequuntur!
    </p>

    <div class="text-center">
      <a class="btn btn-secondary" href="/signin/"> signin </a>
      <a class="btn btn-secondary" href="/signup/"> signup </a>
    </div>
  </section>
</main>
{% endblock %}
